  @charset "UTF-8";
  
  body{
            background-color: lightgray;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h1{
            color: white;
            background-color:black;
            text-align: center;
        }
        h2{
            color: black;
            background-color: grey;
            text-align: center;
        }
        p{
            color: blue;
            text-align: justify;
        }